extends layout

append css
    link(rel='stylesheet', href='/css/personal/my_group.css')

block mainContent
  .container-fluid.main-content
    .row
      .col-md-12.action
        a.btn.btn-default.btn-success(href="/group/add" role="button") 创建小组
      .col-md-12
        .thumbnail
          if groups.length > 0
            .list-group
              each group in groups
                a.list-group-item(href='/group/detail/' + group._id)
                  h4.list-group-item-heading= group.name
                  p.list-group-item-text= truncate(group.description,20)
          else
            .alert.alert-success(role="alert") 当前没有添加任何小组....