.action {
  margin-top: 10px;
}

.action button {
  float: right;
  margin-left: 10px;
}

h3 small {
  margin-left: 20px;
}

.commentform {
  margin-top: 10px;
  padding-top: 10px;
  border-style: solid none none none;
  border-width: 0.5px;
  border-color: #ddd;
}

.comment form {
  
}