extends layout

append css
    link(rel='stylesheet', href='/css/login.css')

    block content
    .container
      form.form-signin(method="post",action="login")
        h2.form-signin-heading Mind
        label.sr-only(for='inputEmail') 邮箱
        input#inputEmail.form-control(name='username',type='email', placeholder='Email address', required='', autofocus='')
        label.sr-only(for='inputPassword') 密码
        input#inputPassword.form-control(name='password',type='password', placeholder='Password', required='')
        .checkbox
          label
            input(type='checkbox', value='remember-me')
            |  Remember me
        button.btn.btn-lg.btn-primary.btn-block(type='submit') 登陆
    // /container

